.erpNavArrow{
        color:#000;
        -webkit-transition: background 0.2s linear;
        -moz-transition: background 0.2s linear;
        -ms-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;
        background-size: contain;
        z-index: 100;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #eee;
        cursor: pointer;
        z-index: 100;
        opacity: 0.5;
}
.erpNavArrow:hover { background-color: #d1d1d1; color:#fff;  }

.erpProWidRelContainer{
	display: inline-block;
	margin: 0 5px;
	vertical-align: top;
}